@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Montserrat:wght@300&display=swap');

/* header rules */
#header h1
{
 font-family: "Montserrat, Sans-Serif";
display: inline-block;
margin-right: 25px;
font-size: 2.5em;
color: #3a2d0a;
font-weight: bold;
cursor: pointer;
}

/* a href navbar including the navigation and social networks */
a {
  float: center;
       width: 20%;
        display: inline;
         border: 1px solid #e7e7e7;
         background-color: gray;
         color: white;
         text-align: center;
         padding: 0.005em;
         text-decoration: none;
       ;
     }
 
/* change the link color to #111 (black) on hover */
a:hover {
 background-color: #111;
}

/* navigation not moving when scrolling the page */
#navigation
{
  position: fixed;
margin-bottom: 0.995em;
font-size: 80%;
}

/* insert background image; no repeat and covering the whole site */
body {
    background-image: url('https://i.imgur.com/BVAlDIO.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size: cover;
     margin: 0px auto;
padding: 5px;
padding-bottom: 15px;
text-align: center;
width: 100%;
font-family: "Inconsolata";
background-color: #8b4727;
  }

  /* multiple sections border box */
#home, #biography, #funfacts, #famousquotes, #contact
{
  margin: 10%;
   margin-top: 100px;
   width: 90%;
   height: 40%;
   padding: 50px;
   box-sizing: border-box;
   background-color: #755038;
   border-radius: 50px;
   color: white;
   object-fit: contain;
}

/* home font size */
#home h2
{
 width: 90%;
font-size: 1.875em;
}

/* (biography, fun facts and famous quotes) font size */
#biography, #funfacts, #famousquotes h2
{
 width: 90%;
font-size: 1.875em;
}

/* Contact header font size */
#contact h3
{
 width: 85%;
font-size: 1.175em;
}

/* ( home,biography,fun facts and famous quotes) paragraph font size */
#home, #biography, #funfacts,#famousquotes p
{
 width: 85%;
font-size: 0.875em;
}

/* footer details */
#footer {
 
  
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
 }
 
 .social-networks > li {
    text-align: center;
    display: inline;
    min-height: 100%;
   margin-bottom: -120px; /* Same as push height */
   padding: auto;
   font-size: 0.1225em;
 }

 #social-networks
{
  position: absolute;
   float: inline-start;
   font-size: 0.975em;
   }
 
 /* copyright with my personal name at the bottom of the page */
.copyright
{
  color: #e7e7e7;
   font-size: 1.115em;
   }
 

 

